input(type='hidden' name='id')
fieldset
  legend Common Names
  label(for='primary_name') Primary Name
  input(type='text' name='primary_name' value='' required='')
  label(for='english_name') English Name
  input(type='text' name='english_name' value='' required='')
  label(for='other_names') Other Names
  textarea(name='other_names' rows='10' cols='50')
fieldset
  legend Taxonomy
  label(for='scientific_name') Scientific Name
  input(type='text' name='scientific_name' value='' required='')
  label(for='order') Order
  input(type='text' name='order' value='' required='')
  label(for='family') Family
  input(type='text' name='family' value='' required='')
fieldset
  legend Size
  label(for='length') Length (cm)
  input(type='number' name='length' value='0')
  label(for='weight') Weight (g)
  input(type='number' name='weight' value='0')
fieldset
  legend Conservation
  label(for='status') Status
        select#status(name='status')
          option(selected='') Not Threatened
          option Naturally Uncommon
          option Relict
          option Recovering
          option Declining
          option Nationally Increasing
          option Nationally Vulnerable
          option Nationally Endangered
          option Nationally Critical
          option Data Deficient
fieldset
  legend Photo
  label(for='photo_credit') Photo Credit
  input(type='text' name='photo_credit' value='' required='')
  label(for='photo_upload') Upload New Photo
  input#photo_upload(type='file' name='photo_upload' required='')
  label(for='photo_source') Photo Preview
  img#upload_preview(src='/birds/images/undefined' alt='Photo of ')
  input#upload_source(type='text' name='photo_source' readonly='readonly')
button(type='submit') SAVE BIRD